* {
    margin: 0 auto;
}
@media only screen and (max-width: 600px) {
    html body {
        background-image: none;
        background-color: black;
    }
    body main {
        width: 90%;
        height: auto;
    }

    body nav h1 {
        font-family: "berserk";
        font-size: 20px;
        color: white;
    }

    body nav a {
        font-family: "berserk";
        font-size: 20px;
        color: white;
    }

    body nav{
        font-family: "berserk";
        font-size: 20px;
        color: white;
    }
    
    body nav div {
        margin:50px;
        display: block;
    }

    body main div {
        display: inline;
        border: none;
        height: auto;
    }

    body main div div {
        border: solid rgb(97, 1, 1) 1px;
    }

    body main div div .text p {
        margin-top: 2%;
    }

    body main div div .img img {
        height: 150px;
    }

    .d:active {
        border: solid red 2px;
    }

    body main p {
        font-size: 18px;
    }
    
    body main a {
        font-size: 14px;
    }

    body nav #art {
        border-bottom: solid rgb(68, 0, 0) 2px;
        border-top: solid rgb(68, 0, 0) 2px;
    }

    body main.img img:hover {
        height: 0%;
        transform: none;
    }
}

header {
    background-color: black;
    text-align: center;
    width: 100%; 
}

body {
    background-image: url(image.webp);
    background-repeat: no-repeat;
    background-position: center center;
}

@font-face {
    font-family: "berserk";
    src: url("Berserker-Regular.ttf");
}

nav, main, footer {
    animation-name: op;
    animation-duration: 2s;
}

@keyframes op {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

nav {
    text-align: center;
    background-color: black;
    width: 80%;
    border-bottom: solid rgb(68, 0, 0) 2px;
}

nav div {
    flex: 1;
    display: flex;
    margin-bottom: 1vw;
}

nav h1 {
    font-family: "berserk";
    font-size: 1.8vw;
    color: white;
    text-align: center;
    
    
}

nav a {
    font-family: "berserk";
    font-size: 1.8vw;
    color: white;
    text-decoration: none;
}

main {
    height: auto;
    background-color: transparent;
    width: 80%;
    flex: 1;
}

main p {
    font-family: "berserk";
    font-size: 1.8vw;
    color: white;
    text-align: center;
}

main a {
    font-family: "berserk";
    font-size: 1.8vw;
    color: white;
    text-align: center;
    text-decoration: none;
}

#intro {
    margin-top: 5vw;
    margin-bottom: 5vw;
}

main div {
    height: 30vw;
    display: flex;
    flex: 1;
    border: solid rgb(97, 1, 1) 1px;
}

main div div {
    display: block;
    box-sizing: border-box;
    border-left: solid rgb(97, 1, 1) 1px;
}

.d:hover{
    border: solid red 2px;
}

.text {
    height: 15%;
    display: flex;
    align-items: center;
    border: none;
}

.img {
    height: 85%;
    box-sizing: border-box;
    text-align: center;
    border: none;
}

.img img {
    height: 85%;
    transition: 1s;
}

.img img:hover {
    height: 85%;
    transform: scale(1.05);
}

#ba {
    max-width: 100%;
}

#ds {
    max-width: 100%;
}

footer {
    background-color: black;
    height: 10vw;
}
